@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap");

@layer base {
  html {
    font-family: "Delius Unicase", cursive;
     font-family: "Delius", cursive;
  }
}

.container{
  height: 650px;
  width: 650px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 1em;
}

.end{
  height: 650px;
  width: 650px;
  gap: 1em;
}

/* 
.card number {
  transform: scale(0);
  animation: 2s hideNumber linear;
}

@keyframes hideTile {
  0%, 70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

/* font-family: "Love Ya Like A Sister", cursive; */
